﻿
@{
    ViewBag.Title = "ResturantRegistration";
}

<h2>Register As Resturant</h2>
<form action="" method="post">
    <table>
        <tr>
            <td>Name: </td>
            <td>
                <input type="text" name="Name" class="form-control" />
            </td>
        </tr>
        <tr>
            <td> Email: </td>
            <td>
                <input type="text" name="Email" class="form-control" />
            </td>
        </tr>
        <tr>
            <td> Password: </td>
            <td>
                <input type="password" name="Password" class="form-control" />
            </td>
        </tr>
        <tr>
            <td> Location: </td>
            <td>
                <input type="text" name="Location" class="form-control" />
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Sign Up" class="btn btn-success" /></td>
        </tr>
    </table>
</form>