﻿<form action="" method="post">
    <table>
        <tr>
            <td>
                Food Name:
            </td>
            <td>
                <input type="text" name="Name" />
                <span class="text-danger">@Html.ValidationMessage("Name")</span>
            </td>
        </tr>
        <tr>
            <td>Quantity: </td>
            <td>
                <input type="number" name="Quantity" />
                <span class="text-danger">@Html.ValidationMessage("Quantity")</span>
            </td>
        </tr>
        <tr>
            <td>Expire Date:</td>
            <td>
                <input type="date" name="ExpireDate" />
                <span class="text-danger">@Html.ValidationMessage("ExpireDate")</span>
            </td>
        </tr>
    </table>
    <input type="hidden" name="RequestID" value="@ViewBag.id" />
    <input type="submit" value="Add Food" />
</form>